/*container for full list*/
.list {
    display: flex;                          /*flex display*/
    flex-direction: column;                 /*column layout*/
    width: 20vw;                            /*setting width and height*/
    height: 100vh;
    border: 2px solid  black;             /*setting border*/
    background-color: rgb(0, 191, 255);   /*background colour*/
}

/*styling the title of list*/
.title {
    font-size: 30px;                        /*setting font size*/
    height: 5%;                             /*setting height of title element*/
    flex-shrink: 0;                         /*prevent shrinking*/
    text-align: center;                     /*align text in the centre*/
    border-top: 2px solid black;          /*setting border to top and bottom of title element*/
    border-bottom: 2px solid black;
}

/*style for list itself*/
ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;              /*no bullet points*/
    margin: 0;                          /*0 bullet point margin*/
    padding: 0;                         /*0 bullet point padding*/
    width: 100%;                        /*width 100% of flex box*/
    max-height: auto;
    flex-grow: 1;                       /*make the list items grow to fill available space*/
    overflow-y: auto;                   /*preventing list content from overflowing*/
    font-size: 25px;                  
}
/*style for each list element*/
li {
    /* making display flex, column layout and adding a border to each list item, make items grow to fill available space*/
    display: flex;                           
    flex-direction: column;
    flex-grow: 1;
    width: contain;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
/*setting background colour based on quantity for each item in list*/
.high-stock {
    background-color: green;
}
.med-stock {
    background-color: yellow;
}
.low-stock {
    background-color: red;
}
.no-stock {
    background-color: gray;
}