/* Container inherited by warnings*/
:host {
    width: var(--view-elements-width);
    height: calc(100% - 150px);             /*top search bar has 120px height with 10px top and bottom, (140 so add extra 10 for 10px gap at the bottom)*/
    display: flex;
}

/*Defining layout of container in which all warnings lie*/
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;

    gap: 20px;
    border: 2px solid black;
    background-color: lightskyblue;
    border-radius: var(--border-radius);
}

/* Styling for the container of an individual warning element */
.warning-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    flex: 0 0 auto;

    background-color: #D32F2F; /* Muted Coral */
    border-radius: var(--border-radius);
    
    /* Shadow Effect */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Optional: Add a hover effect for more pop */
.warning-container:hover {
    transform: translateY(-3px); /* Slight lift effect */
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
}

/*Styling for the flight information*/
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;

    background-color: #f28b82;
    font-weight: 900;
    font-size: var(--dynamic-font-flightinfo);
    border-radius: var(--border-radius);
}

/*Styling for the error message text*/
.message {
    font-size: var(--dynamic-font-warning);
    font-weight: 600;
}

/*Styling for warnings button*/
.button {
    width: var(--dynamic-button-width);
    height: 30px;
    background-color: yellow;
    border-radius: var(--border-radius);
}