
<div class="list">
    <div class="flight-heading">
        <h1 class="flight box">Warnings for Low Stock Items</h1>
    </div>

    <div class="list-headings">
        <p>Index</p>
        <p>Name</p>
        <p>Quantity</p>
        <p>EPC</p>
    </div>
    <ul>
        @for (item of getLowStockItems; track item) {
            <li [ngClass]="getClass(item.quantity)">
                <p>{{$index + 1}}.</p>
                <p>{{item.name}}</p>
                <p>{{item.quantity}}</p>
                <p>{{item.epc}}</p>
            </li>
        }
    </ul>
</div>
