.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-shrink: 1;
}

.home {
    background: linear-gradient(135deg, #1F1FFF, #4949FF);
    width: 350px; /* Adjust the sidebar width as needed */
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.content {
    margin-left: 350px; /* Ensure it moves to the right of the sidebar */
    background-color: white; /* Set background color to white */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* Ensure it covers full height */
    overflow: hidden;
    width: calc(100vw - 350px); /* Make it fill remaining width after sidebar */
    
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
}

.chart-container {
    display: flex;                  /*put chart in a flex container*/
    width: calc(100% - 20vw);       /*setting width and height (20vw is width of list on the side*/
    height: 100%;
}
#item-list {
    margin-left: auto;      /*make the list sit at the far right of the flexbox*/
}

/*pass height in to app slider, make sure it spans full length of sidebar*/
app-slider {
    width: 95%;         /*make slider be 95% of available width in sidebar*/
}

.title {
    /* Styling for text inside the sidebar */
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100vh - 20px);                     /*height of box minus the bottom border of legend box*/
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Libre Franklin", sans-serif;
    margin-top: 20px;

    flex-grow: 1;
    gap: 20px;                                      /*20px gap between all elements*/
}

.title img {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Keep aspect ratio */
}

/*make the legend sit at the bottom of screen*/
#list {
    margin-top: auto;
}

/*styles for the apply button*/
#apply-button {
    width: 80%;                       /*80% of available width*/
    height: 50px;                     /*set height of 50px*/
    background-color: yellow;       /*set background colour of button*/
    border: 2px solid black;        /*button border*/
    font-size: 20px;                  /*set font size*/
}
#apply-button:hover {
    border: 5px solid black;        /*increase border size when user hovers over*/
    font-weight: bold;                /*make font bold*/
}

/*legend box styling*/
ul {
    list-style-type: none;          /*no bullet points*/
    display: flex;                  /*flex display align everything in the centre*/
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100% - 40px);               /*make width 100% of component minus the width*/
    height: auto;
    margin: 0;                              /*get rid of the bullet point padding and margin*/
    padding: 0;
    border: 20px solid lightskyblue;      /*setting border colour and text colour*/
    border-top: 0;
    color: black;
    background-color: lightskyblue;
}

/*styling for each list item*/
li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;                           /*make list items grow to full width*/
    width: 100%;                            /*make list item take 100% of width*/
    border-bottom: 2px solid black;       /*setting border for legend box*/
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/*different backround colour for each list item*/
#green {
    border-top: 2px solid black;
    background-color: green;
}
#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
}
#gray {
    background-color: gray;
}
