<div class="search-bar">
    <div class="input-field">
        <input [ngClass]="isInvalid ? 'invalid' : 'valid'"
        class="search-input" (input)="onInputChange($event)" (keydown.enter)="searchFunction(inputValue)" placeholder="Enter a valid flight number"/>
        <p class="error ">{{isInvalid ? "Enter a valid flight number!" : ""}}</p>
    </div>
    <button class="search-button" (click)="searchFunction(inputValue)">Search</button>
    <button class="faqs-button" (click)="searchFunction(inputValue)">FAQ's</button>
</div>

