/* Layout for search bar inside the sidebar */
.search-bar {
    display: flex;
    flex-direction: column;  /* Stack input field and button vertically */
    justify-content: flex-start;  /* Align from the top */
    align-items: center;  /* Center horizontally inside the sidebar */
    height: auto;  /* Allow the height to adjust based on content */
    margin-top: 200px;  /* Reduce this value to move it higher */
    width: 100%;  /* Ensure it fits within the sidebar width */
}

/* Layout for the whole input field */
.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;  /* Ensure it takes full width of the sidebar */
    align-items: center; /* Center input field */
}

/* Styling for the search input */
.search-input {
    font-size: 15px;
    width: 100%;  /* Make input field take full width of the sidebar */
    height: 40px;
    border-radius: 20px;
    font-family: "Libre Franklin", sans-serif;
}


/* Styling for invalid input */
.search-input.invalid {
    color: red;
    border-color: red;
}

/* Error message styling */
.error {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;  /* Space below error message */
    text-align: center; /* Ensure error message is centered */
}

/* Styling for the search button */
.search-button {
    width: 60%;  /* Make button take full width of the sidebar */
    height: 40px;
    background: linear-gradient(135deg, #FFD400, #FFDD3C);
    font-size: 15px;
    font-family: "Libre Franklin", sans-serif;
    border-radius: 20px;
    margin-top: 10px;  /* Space between the button and the input field */
}

/* Hover effect for the button */
.search-button:hover {
    font-style: italic;
    border-width: 3px;
}

