
    <!-- Sidebar (Home Component) --><div class="container"  [ngStyle]="{'background-image': 'url(' + currentPath + ')'}">
    <div class="title">
        <img src="images/logo.svg" alt="LOGO"/>
        <h3 style="text-decoration: underline;">Low Fares Made Simple</h3>
    </div>
        
    <div class="features">
        <div class="search-inputs">
            <!-- Search Bar inside the Sidebar -->
            <app-search-bar [isInvalid]="invalid" (inputValueChange)="updateFlightNum($event)" [searchFunction]="searchForFlightNum.bind(this)"
            errorMessage="Invalid Flight Number" placeholder="Enter a valid flight number"></app-search-bar>

            <div class="iata-search">
                <div class="code-dropdown">
                    <select (change)="updateFromIata($event)" class="code-dropdown">
                        <option value="">From IATA</option>
                        <option value="AAL">AAL</option>
                        <option value="AAR">AAR</option>
                        <option value="ABZ">ABZ</option>
                        <option value="ACE">ACE</option>
                        <option value="AGA">AGA</option>
                        <option value="AGP">AGP</option>
                        <option value="AHO">AHO</option>
                        <option value="ALC">ALC</option>
                        <option value="AMM">AMM</option>
                        <option value="AMS">AMS</option>
                        <option value="AOI">AOI</option>
                        <option value="ARN">ARN</option>
                        <option value="ATH">ATH</option>
                        <option value="BCN">BCN</option>
                        <option value="BDS">BDS</option>
                        <option value="BEM">BEM</option>
                        <option value="BER">BER</option>
                        <option value="BFS">BFS</option>
                        <option value="BGY">BGY</option>
                        <option value="BHX">BHX</option>
                        <option value="BIQ">BIQ</option>
                        <option value="BJV">BJV</option>
                        <option value="BLL">BLL</option>
                        <option value="BLQ">BLQ</option>
                        <option value="BNX">BNX</option>
                        <option value="BOH">BOH</option>
                        <option value="BOJ">BOJ</option>
                        <option value="BRE">BRE</option>
                        <option value="BRI">BRI</option>
                        <option value="BRQ">BRQ</option>
                        <option value="BRS">BRS</option>
                        <option value="BRU">BRU</option>
                        <option value="BSL">BSL</option>
                        <option value="BTS">BTS</option>
                        <option value="BUD">BUD</option>
                        <option value="BVA">BVA</option>
                        <option value="BVE">BVE</option>
                        <option value="BZG">BZG</option>
                        <option value="BZR">BZR</option>
                        <option value="CAG">CAG</option>
                        <option value="CCF">CCF</option>
                        <option value="CDT">CDT</option>
                        <option value="CFE">CFE</option>
                        <option value="CFU">CFU</option>
                        <option value="CGN">CGN</option>
                        <option value="CHQ">CHQ</option>
                        <option value="CIA">CIA</option>
                        <option value="CLJ">CLJ</option>
                        <option value="CPH">CPH</option>
                        <option value="CRL">CRL</option>
                        <option value="CRV">CRV</option>
                        <option value="CTA">CTA</option>
                        <option value="CUF">CUF</option>
                        <option value="CWL">CWL</option>
                        <option value="DBV">DBV</option>
                        <option value="DLE">DLE</option>
                        <option value="DLM">DLM</option>
                        <option value="DTM">DTM</option>
                        <option value="DUB">DUB</option>
                        <option value="EDI">EDI</option>
                        <option value="EFL">EFL</option>
                        <option value="EGC">EGC</option>
                        <option value="EIN">EIN</option>
                        <option value="EMA">EMA</option>
                        <option value="ERH">ERH</option>
                        <option value="ESU">ESU</option>
                        <option value="EXT">EXT</option>
                        <option value="FAO">FAO</option>
                        <option value="FCO">FCO</option>
                        <option value="FEZ">FEZ</option>
                        <option value="FKB">FKB</option>
                        <option value="FMM">FMM</option>
                        <option value="FMO">FMO</option>
                        <option value="FNC">FNC</option>
                        <option value="FNI">FNI</option>
                        <option value="FRL">FRL</option>
                        <option value="FSC">FSC</option>
                        <option value="FUE">FUE</option>
                        <option value="GDN">GDN</option>
                        <option value="GLA">GLA</option>
                        <option value="GNB">GNB</option>
                        <option value="GOA">GOA</option>
                        <option value="GOT">GOT</option>
                        <option value="GPA">GPA</option>
                        <option value="GRO">GRO</option>
                        <option value="HAM">HAM</option>
                        <option value="HEL">HEL</option>
                        <option value="HER">HER</option>
                        <option value="HHN">HHN</option>
                        <option value="IAS">IAS</option>
                        <option value="IBZ">IBZ</option>
                        <option value="INI">INI</option>
                        <option value="JMK">JMK</option>
                        <option value="JSI">JSI</option>
                        <option value="JTR">JTR</option>
                        <option value="KGS">KGS</option>
                        <option value="KIR">KIR</option>
                        <option value="KLU">KLU</option>
                        <option value="KLX">KLX</option>
                        <option value="KRK">KRK</option>
                        <option value="KSC">KSC</option>
                        <option value="KTW">KTW</option>
                        <option value="KUN">KUN</option>
                        <option value="LBA">LBA</option>
                        <option value="LBC">LBC</option>
                        <option value="LCA">LCA</option>
                        <option value="LCJ">LCJ</option>
                        <option value="LDE">LDE</option>
                        <option value="LDY">LDY</option>
                        <option value="LEI">LEI</option>
                        <option value="LEJ">LEJ</option>
                        <option value="LGW">LGW</option>
                        <option value="LIG">LIG</option>
                        <option value="LIL">LIL</option>
                        <option value="LIS">LIS</option>
                        <option value="LNZ">LNZ</option>
                        <option value="LPA">LPA</option>
                        <option value="LPL">LPL</option>
                        <option value="LPP">LPP</option>
                        <option value="LRH">LRH</option>
                        <option value="LTN">LTN</option>
                        <option value="LUX">LUX</option>
                        <option value="LUZ">LUZ</option>
                        <option value="LXS">LXS</option>
                        <option value="MAD">MAD</option>
                        <option value="MAH">MAH</option>
                        <option value="MAN">MAN</option>
                        <option value="MLA">MLA</option>
                        <option value="MME">MME</option>
                        <option value="MMX">MMX</option>
                        <option value="MRS">MRS</option>
                        <option value="MST">MST</option>
                        <option value="MXP">MXP</option>
                        <option value="NAP">NAP</option>
                        <option value="NCE">NCE</option>
                        <option value="NCL">NCL</option>
                        <option value="NDR">NDR</option>
                        <option value="NOC">NOC</option>
                        <option value="NQY">NQY</option>
                        <option value="NRN">NRN</option>
                        <option value="NTE">NTE</option>
                        <option value="NUE">NUE</option>
                        <option value="NWI">NWI</option>
                        <option value="OLB">OLB</option>
                        <option value="OPO">OPO</option>
                        <option value="ORB">ORB</option>
                        <option value="ORK">ORK</option>
                        <option value="OSI">OSI</option>
                        <option value="OSL">OSL</option>
                        <option value="OSR">OSR</option>
                        <option value="OTP">OTP</option>
                        <option value="OUD">OUD</option>
                        <option value="OVD">OVD</option>
                        <option value="OZZ">OZZ</option>
                        <option value="PAD">PAD</option>
                        <option value="PDL">PDL</option>
                        <option value="PDV">PDV</option>
                        <option value="PED">PED</option>
                        <option value="PEG">PEG</option>
                        <option value="PFO">PFO</option>
                        <option value="PGF">PGF</option>
                        <option value="PIK">PIK</option>
                        <option value="PIS">PIS</option>
                        <option value="PLQ">PLQ</option>
                        <option value="PMF">PMF</option>
                        <option value="PMI">PMI</option>
                        <option value="PMO">PMO</option>
                        <option value="POZ">POZ</option>
                        <option value="PRG">PRG</option>
                        <option value="PSA">PSA</option>
                        <option value="PSR">PSR</option>
                        <option value="PUY">PUY</option>
                        <option value="PVK">PVK</option>
                        <option value="QSR">QSR</option>
                        <option value="RAK">RAK</option>
                        <option value="RBA">RBA</option>
                        <option value="RDZ">RDZ</option>
                        <option value="REG">REG</option>
                        <option value="REU">REU</option>
                        <option value="RHO">RHO</option>
                        <option value="RIX">RIX</option>
                        <option value="RJK">RJK</option>
                        <option value="RMI">RMI</option>
                        <option value="RMU">RMU</option>
                        <option value="RVN">RVN</option>
                        <option value="RZE">RZE</option>
                        <option value="SCQ">SCQ</option>
                        <option value="SDR">SDR</option>
                        <option value="SFT">SFT</option>
                        <option value="SJJ">SJJ</option>
                        <option value="SKG">SKG</option>
                        <option value="SNN">SNN</option>
                        <option value="SOF">SOF</option>
                        <option value="SPU">SPU</option>
                        <option value="STN">STN</option>
                        <option value="SUF">SUF</option>
                        <option value="SVQ">SVQ</option>
                        <option value="SXB">SXB</option>
                        <option value="SZG">SZG</option>
                        <option value="SZY">SZY</option>
                        <option value="SZZ">SZZ</option>
                        <option value="TAT">TAT</option>
                        <option value="TER">TER</option>
                        <option value="TFN">TFN</option>
                        <option value="TFS">TFS</option>
                        <option value="TGD">TGD</option>
                        <option value="TIA">TIA</option>
                        <option value="TLL">TLL</option>
                        <option value="TLS">TLS</option>
                        <option value="TLV">TLV</option>
                        <option value="TNG">TNG</option>
                        <option value="TPS">TPS</option>
                        <option value="TRF">TRF</option>
                        <option value="TRN">TRN</option>
                        <option value="TRS">TRS</option>
                        <option value="TSF">TSF</option>
                        <option value="TTU">TTU</option>
                        <option value="TUF">TUF</option>
                        <option value="VAR">VAR</option>
                        <option value="VCE">VCE</option>
                        <option value="VGO">VGO</option>
                        <option value="VIE">VIE</option>
                        <option value="VIL">VIL</option>
                        <option value="VIT">VIT</option>
                        <option value="VLC">VLC</option>
                        <option value="VLL">VLL</option>
                        <option value="VNO">VNO</option>
                        <option value="VOL">VOL</option>
                        <option value="VRN">VRN</option>
                        <option value="VST">VST</option>
                        <option value="VXO">VXO</option>
                        <option value="WAW">WAW</option>
                        <option value="WMI">WMI</option>
                        <option value="WRO">WRO</option>
                        <option value="XCR">XCR</option>
                        <option value="XRY">XRY</option>
                        <option value="ZAD">ZAD</option>
                        <option value="ZAG">ZAG</option>
                        <option value="ZAZ">ZAZ</option>
                        <option value="ZTH">ZTH</option>
                    </select>
                    
                </div>
                <div class="code-dropdown">
                    <select (change)="updateToIata($event)" class="code-dropdown">
                        <option value="">To IATA</option>
                        <option value="AAL">AAL</option>
                        <option value="AAR">AAR</option>
                        <option value="ABZ">ABZ</option>
                        <option value="ACE">ACE</option>
                        <option value="AGA">AGA</option>
                        <option value="AGP">AGP</option>
                        <option value="AHO">AHO</option>
                        <option value="ALC">ALC</option>
                        <option value="AMM">AMM</option>
                        <option value="AMS">AMS</option>
                        <option value="AOI">AOI</option>
                        <option value="ARN">ARN</option>
                        <option value="ATH">ATH</option>
                        <option value="BCN">BCN</option>
                        <option value="BDS">BDS</option>
                        <option value="BEM">BEM</option>
                        <option value="BER">BER</option>
                        <option value="BFS">BFS</option>
                        <option value="BGY">BGY</option>
                        <option value="BHX">BHX</option>
                        <option value="BIQ">BIQ</option>
                        <option value="BJV">BJV</option>
                        <option value="BLL">BLL</option>
                        <option value="BLQ">BLQ</option>
                        <option value="BNX">BNX</option>
                        <option value="BOH">BOH</option>
                        <option value="BOJ">BOJ</option>
                        <option value="BRE">BRE</option>
                        <option value="BRI">BRI</option>
                        <option value="BRQ">BRQ</option>
                        <option value="BRS">BRS</option>
                        <option value="BRU">BRU</option>
                        <option value="BSL">BSL</option>
                        <option value="BTS">BTS</option>
                        <option value="BUD">BUD</option>
                        <option value="BVA">BVA</option>
                        <option value="BVE">BVE</option>
                        <option value="BZG">BZG</option>
                        <option value="BZR">BZR</option>
                        <option value="CAG">CAG</option>
                        <option value="CCF">CCF</option>
                        <option value="CDT">CDT</option>
                        <option value="CFE">CFE</option>
                        <option value="CFU">CFU</option>
                        <option value="CGN">CGN</option>
                        <option value="CHQ">CHQ</option>
                        <option value="CIA">CIA</option>
                        <option value="CLJ">CLJ</option>
                        <option value="CPH">CPH</option>
                        <option value="CRL">CRL</option>
                        <option value="CRV">CRV</option>
                        <option value="CTA">CTA</option>
                        <option value="CUF">CUF</option>
                        <option value="CWL">CWL</option>
                        <option value="DBV">DBV</option>
                        <option value="DLE">DLE</option>
                        <option value="DLM">DLM</option>
                        <option value="DTM">DTM</option>
                        <option value="DUB">DUB</option>
                        <option value="EDI">EDI</option>
                        <option value="EFL">EFL</option>
                        <option value="EGC">EGC</option>
                        <option value="EIN">EIN</option>
                        <option value="EMA">EMA</option>
                        <option value="ERH">ERH</option>
                        <option value="ESU">ESU</option>
                        <option value="EXT">EXT</option>
                        <option value="FAO">FAO</option>
                        <option value="FCO">FCO</option>
                        <option value="FEZ">FEZ</option>
                        <option value="FKB">FKB</option>
                        <option value="FMM">FMM</option>
                        <option value="FMO">FMO</option>
                        <option value="FNC">FNC</option>
                        <option value="FNI">FNI</option>
                        <option value="FRL">FRL</option>
                        <option value="FSC">FSC</option>
                        <option value="FUE">FUE</option>
                        <option value="GDN">GDN</option>
                        <option value="GLA">GLA</option>
                        <option value="GNB">GNB</option>
                        <option value="GOA">GOA</option>
                        <option value="GOT">GOT</option>
                        <option value="GPA">GPA</option>
                        <option value="GRO">GRO</option>
                        <option value="HAM">HAM</option>
                        <option value="HEL">HEL</option>
                        <option value="HER">HER</option>
                        <option value="HHN">HHN</option>
                        <option value="IAS">IAS</option>
                        <option value="IBZ">IBZ</option>
                        <option value="INI">INI</option>
                        <option value="JMK">JMK</option>
                        <option value="JSI">JSI</option>
                        <option value="JTR">JTR</option>
                        <option value="KGS">KGS</option>
                        <option value="KIR">KIR</option>
                        <option value="KLU">KLU</option>
                        <option value="KLX">KLX</option>
                        <option value="KRK">KRK</option>
                        <option value="KSC">KSC</option>
                        <option value="KTW">KTW</option>
                        <option value="KUN">KUN</option>
                        <option value="LBA">LBA</option>
                        <option value="LBC">LBC</option>
                        <option value="LCA">LCA</option>
                        <option value="LCJ">LCJ</option>
                        <option value="LDE">LDE</option>
                        <option value="LDY">LDY</option>
                        <option value="LEI">LEI</option>
                        <option value="LEJ">LEJ</option>
                        <option value="LGW">LGW</option>
                        <option value="LIG">LIG</option>
                        <option value="LIL">LIL</option>
                        <option value="LIS">LIS</option>
                        <option value="LNZ">LNZ</option>
                        <option value="LPA">LPA</option>
                        <option value="LPL">LPL</option>
                        <option value="LPP">LPP</option>
                        <option value="LRH">LRH</option>
                        <option value="LTN">LTN</option>
                        <option value="LUX">LUX</option>
                        <option value="LUZ">LUZ</option>
                        <option value="LXS">LXS</option>
                        <option value="MAD">MAD</option>
                        <option value="MAH">MAH</option>
                        <option value="MAN">MAN</option>
                        <option value="MLA">MLA</option>
                        <option value="MME">MME</option>
                        <option value="MMX">MMX</option>
                        <option value="MRS">MRS</option>
                        <option value="MST">MST</option>
                        <option value="MXP">MXP</option>
                        <option value="NAP">NAP</option>
                        <option value="NCE">NCE</option>
                        <option value="NCL">NCL</option>
                        <option value="NDR">NDR</option>
                        <option value="NOC">NOC</option>
                        <option value="NQY">NQY</option>
                        <option value="NRN">NRN</option>
                        <option value="NTE">NTE</option>
                        <option value="NUE">NUE</option>
                        <option value="NWI">NWI</option>
                        <option value="OLB">OLB</option>
                        <option value="OPO">OPO</option>
                        <option value="ORB">ORB</option>
                        <option value="ORK">ORK</option>
                        <option value="OSI">OSI</option>
                        <option value="OSL">OSL</option>
                        <option value="OSR">OSR</option>
                        <option value="OTP">OTP</option>
                        <option value="OUD">OUD</option>
                        <option value="OVD">OVD</option>
                        <option value="OZZ">OZZ</option>
                        <option value="PAD">PAD</option>
                        <option value="PDL">PDL</option>
                        <option value="PDV">PDV</option>
                        <option value="PED">PED</option>
                        <option value="PEG">PEG</option>
                        <option value="PFO">PFO</option>
                        <option value="PGF">PGF</option>
                        <option value="PIK">PIK</option>
                        <option value="PIS">PIS</option>
                        <option value="PLQ">PLQ</option>
                        <option value="PMF">PMF</option>
                        <option value="PMI">PMI</option>
                        <option value="PMO">PMO</option>
                        <option value="POZ">POZ</option>
                        <option value="PRG">PRG</option>
                        <option value="PSA">PSA</option>
                        <option value="PSR">PSR</option>
                        <option value="PUY">PUY</option>
                        <option value="PVK">PVK</option>
                        <option value="QSR">QSR</option>
                        <option value="RAK">RAK</option>
                        <option value="RBA">RBA</option>
                        <option value="RDZ">RDZ</option>
                        <option value="REG">REG</option>
                        <option value="REU">REU</option>
                        <option value="RHO">RHO</option>
                        <option value="RIX">RIX</option>
                        <option value="RJK">RJK</option>
                        <option value="RMI">RMI</option>
                        <option value="RMU">RMU</option>
                        <option value="RVN">RVN</option>
                        <option value="RZE">RZE</option>
                        <option value="SCQ">SCQ</option>
                        <option value="SDR">SDR</option>
                        <option value="SFT">SFT</option>
                        <option value="SJJ">SJJ</option>
                        <option value="SKG">SKG</option>
                        <option value="SNN">SNN</option>
                        <option value="SOF">SOF</option>
                        <option value="SPU">SPU</option>
                        <option value="STN">STN</option>
                        <option value="SUF">SUF</option>
                        <option value="SVQ">SVQ</option>
                        <option value="SXB">SXB</option>
                        <option value="SZG">SZG</option>
                        <option value="SZY">SZY</option>
                        <option value="SZZ">SZZ</option>
                        <option value="TAT">TAT</option>
                        <option value="TER">TER</option>
                        <option value="TFN">TFN</option>
                        <option value="TFS">TFS</option>
                        <option value="TGD">TGD</option>
                        <option value="TIA">TIA</option>
                        <option value="TLL">TLL</option>
                        <option value="TLS">TLS</option>
                        <option value="TLV">TLV</option>
                        <option value="TNG">TNG</option>
                        <option value="TPS">TPS</option>
                        <option value="TRF">TRF</option>
                        <option value="TRN">TRN</option>
                        <option value="TRS">TRS</option>
                        <option value="TSF">TSF</option>
                        <option value="TTU">TTU</option>
                        <option value="TUF">TUF</option>
                        <option value="VAR">VAR</option>
                        <option value="VCE">VCE</option>
                        <option value="VGO">VGO</option>
                        <option value="VIE">VIE</option>
                        <option value="VIL">VIL</option>
                        <option value="VIT">VIT</option>
                        <option value="VLC">VLC</option>
                        <option value="VLL">VLL</option>
                        <option value="VNO">VNO</option>
                        <option value="VOL">VOL</option>
                        <option value="VRN">VRN</option>
                        <option value="VST">VST</option>
                        <option value="VXO">VXO</option>
                        <option value="WAW">WAW</option>
                        <option value="WMI">WMI</option>
                        <option value="WRO">WRO</option>
                        <option value="XCR">XCR</option>
                        <option value="XRY">XRY</option>
                        <option value="ZAD">ZAD</option>
                        <option value="ZAG">ZAG</option>
                        <option value="ZAZ">ZAZ</option>
                        <option value="ZTH">ZTH</option>
                    </select>                    
                </div>
            </div>
        </div>

        <app-map [flightNumberSearch]="flightNum" [departureSearch]="fromIata" [destSearch]="toIata"></app-map>
    </div>
</div>
