<div class="container">
    <!-- Sidebar (Home Component) -->
    <div class="home">
        <div class="title">
            <img src="images/logo.svg" width="1800" height="700" alt="LOGO"/>
            <h3 style="text-decoration: underline;">Low Fares Made Simple</h3>
        </div>
        
        <!-- Search Bar inside the Sidebar -->
        <app-search-bar [isInvalid]="invalid" [searchFunction]="searchForFlightNum.bind(this)"></app-search-bar>
    </div>

    <!-- Content area -->
    <div class="content" [ngStyle]="{'background-image': 'url(' + currentPath + ')'}">
        <!-- Content for main area -->
    </div>
</div>
