/* Main container */
.container {
    display: flex;
    flex-direction: column;
    width: var(--view-elements-width);
    height: calc(90vh - 150px);
    gap: 20px;
}

/* Chart container */
.chart-container {
    display: flex;
    justify-content: center; /* Center chart */
    align-items: center;
    width: 100%;
    height: 100%; /* Takes remaining height */
}

.chart-options {
    display: flex;
    justify-content: space-between; /* Ensures even spacing */
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: blue;
    border-radius: var(--border-radis);
    padding: 10px; /* Ensures space on the sides */
    gap: 20px; /* Space between elements */
}

/* Flex container for controls */
.options-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Ensures equal spacing */
}

/* Dropdown Styling */
.chart-dropdown {
    width: 200px;
    height: 45px;
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    flex: 1;
    max-width: 250px;
}

/* Slider container */
.chart-slider {
    padding: 10px;
    border-radius: 12px;
    flex: 2; /* This ensures the slider takes up more space */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

/* Apply Button */
#apply-button {
    width: 160px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    flex: 1;
    max-width: 250px;
}




/* Styles for the whole bar of the slider */
::ng-deep .slider .ngx-slider-bar {
    width: 100% !important;
}

/* Style for selected portion of slider (between the pointers) */
::ng-deep .slider .ngx-slider-selection {
    background-color: yellow !important;
}

/* Pointer styling */
::ng-deep .slider .ngx-slider-pointer {
    background-color: gray !important;
}

/* Styling labels of slider */
::ng-deep .slider .ngx-slider .ngx-slider-bubble {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
