/* Ensure html and body take up full height */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;   
    background-color: blue;
  }

/*global button animations*/
button:hover {
    transform: scale(1.05);
    transition: background-color 0.2s ease-in-out, transform 0.3s;
}

button:active {
    transform: scale(0.95);
}

/*defining global elements to be used throughout web app*/
:root {
    --border-radis: 20px;
    --view-elements-width: 95%;
    --view-width: 100vw;
    --view-height: 100dvh;
    --dynamic-font-title: clamp(1rem, 4vw, 1.4rem);
}
    

  